@import "tailwindcss";

.mainPageImages{
 display: flex;
 width: 100%;
 height: 100vh;
 flex-direction: row;
 margin: 50px;
}

.mainPageAnimeGirl {
 width: 50%;
 display: block;
 justify-content: center;
 align-items: center;
}
.mainPageAnimeGirl img{
 width: 70%;
 display: block;
 justify-content: center;
 align-items: center;
}

.textimages {
 width: 30%;
 display: block;
 justify-content: center;
 align-items: center;
 margin-top: 5%
}

.firstFrame{
 width: 150%;
}

.secondFrame{
 width: 80%;
}

.whiteText{
 margin-bottom: 10%;
 display: flex;
 flex-direction: column;
 align-items: flex-end;
}

.cone img{
 width: 55px;
 height: auto;
 margin-top: 3px;
}

.logoTextStyle{
 font-size: 30px;
 font-weight: bold;
 margin: 3px;
}
