@import "tailwindcss";

.mainPageImages{
 display: flex;
 width: 100%;
 height: 100vh;
 flex-direction: row;
 margin: 5%;
}

.mainPageAnimeGirl {
 width: 50%;
 display: block;
 justify-content: center;
 align-items: center;
}
.mainPageAnimeGirl img{
 width: 70%;
 display: block;
 justify-content: center;
 align-items: center;
 /*position: relative;*/
 /*z-index: 1100;*/
}

.textimages {
 width: 30%;
 display: block;
 justify-content: center;
 align-items: center;
 margin-top: 5%
}

.firstFrame{
 width: 150%;
}

.secondFrame{
 width: 80%;
}

.whiteText{
 margin-bottom: 10%;
 display: flex;
 flex-direction: column;
 align-items: flex-end;
}

.cone img{
 width: 55px;
 height: auto;
 margin-top: 3px;
}

.logoTextStyle{
 font-size: 40px;
 margin: 3px;
 font-family: "VT323", monospace;
 font-weight: 400;
 font-style: normal;
}

.whiteTextButton {
 color: white;
}

.LoginButton{
  display: flex;
 justify-content: end;
}

.LogoText{
 display: flex;
 align-items: center;
}

.TopTitle{
 font-size: 100px;
 color: gray;
 margin: 3px;
 font-family: "Press Start 2P", system-ui;
 font-weight: 400;
 font-style: normal;
}

.lineelement{
 display: flex;
 flex-direction:row;
 justify-content:space-between;
 align-items: stretch;
 width: 70%;
 height: auto;
}

.lineImage{
 display: flex;
}

.lineImage img {
 height: 100%;
 width: auto;
 object-fit: cover;
}

.lineText{
  display: flex;
  flex-direction: column;
  justify-content: center;
 margin-left: 15px;
}

.buttons{
 display: flex;
 flex-direction:row;
 gap: 10px;
}

.animeName{
 color:black;
 display:flex;
 justify-content: center;
}

.topAnime{
 display: flex;
 flex-direction: column;
}

.topic{
 display: flex;
}

.animecolume{
 display: flex;
 flex-direction: row;
 gap: 40px;
 align-items: center;
 width: 100%;
}